.botones {
	margin-top: 10px;
	margin-bottom: 50px;
}
.modal-body form .well {
	font-weight: bold;


}
.modal-body form .label.label-default {
	display: block;
	font-size: medium;



}
tr td input {



}
.container .btn.btn-success.botones {
	margin-left: 715px;

}
.modal-body form .well.respuesta {
	background-color: #D19595;
}
